<table>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}

{% for insecte in insectes %}
<tr>
    <td>{{ insecte.username }}</td>
    <td><a href="{{ path("details_insecte",{'id':insecte.id}) }}">détails</a> </td>
    <td><a href="{{ path("projet_insecte_supprimer",{'id':insecte.id})}}">supp</a> </td>
    <td><a href="{{ path("edit_profile")}}">modifier</a> </td>
</tr>
{% endfor %}
</table>