<h1>Infos de l'insecte Ami</h1>
{% for i in insecte %}
Nom : {{ i.username}} <br/>
Famille : {{ i.famille }}<br/>
Race : {{ i.race }}<br/>
Nourriture : {{ i.nourriture }}<br/>
Age: {{ i.age }}

{% endfor %}
<br/>
<br/>
<br/>
<td><a href="{{ path("mes_amis") }}">retour</a> </td>
