{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
    <a href="{{ path('fos_user_security_logout') }}">
        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
    </a>
{% else %}
    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
{% endif %}

<h1>Mes Amis </h1>
<table>
    <tr>
        <td>Usernames</td>
    </tr>
{% for friend in friends.myFriends %}

   <tr><td><a href="{{ path("details_Ami", {'id':friend.id}) }}"> {{ friend.username }} </a></td>
   <td><a href="{{ path("supprimer_ami",{'id':friend.id}) }}">supprimer</a> </td></tr>

{% endfor %}
</table>